html, body {
    margin: 0;
}
header{
    background-color: white;
    height: 80px;
    width: 100%;
    position: fixed;
    z-index: 10;
}
#menu{
    float: left;
    margin-left: 5%;
    list-style:none;
    margin-top: 0px;
}
li{
    float: left;
    padding: 20px 10px 20px 10px;
    font-size: large;
    
    
}
li:hover{
    background-color:#ace0d7;
}
#imagem_fundo {
    background: url("fotodepessoas.avif");
    height: 100%;
    text-align: center;
    background-size:auto;   
}
#titulo {
    color: rgb(255, 255, 255);
    padding-top: 20%;
    font-size: 50px;
    line-height: 0.6;
    text-shadow: 1px 1px black;
    
}
#subtitulo {
    color: rgb(255, 251, 251);
    margin-left: 20%;
    margin-right: 20%;
    text-shadow: 1px 1px black;
}
#acao {
    color: white;
    padding: 10px 20px 10px 20px;
    text-align: center;
    text-shadow: 1px 1px black;
    
}
.icone {
    width: 80px;
    
}
section {
    padding: 20px;
    float: left;
}
.destaque {
    background-color: rgb(245, 245, 245);
 }   
    
.imagem_pessoas {
    width: 50%;
}
.coluna {
    float:left;
    position:relative;
    width: 0 5%;
    
}
.dois{
    width: 45%;
}
.tres{
    width: 33%; 

 
}
.justificado {
    text-align: justify;
}
.centralizado {
    text-align: center;
}
#sobre{
    width: 100%;
}
footer{
    background-color: #ace0d7;
    float: left;
    padding: 20px;
}
